<a href="https://colab.research.google.com/github/adammoley27/data-science/blob/main/DataAnalysis01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

path="/content/drive/MyDrive/TWTR.csv"
df= pd.read_csv(path)


df.describe

<bound method NDFrame.describe of             Date       Open       High        Low      Close  Adj Close  \
0      11/7/2013  45.099998  50.090000  44.000000  44.900002  44.900002
1      11/8/2013  45.930000  46.939999  40.685001  41.650002  41.650002
2     11/11/2013  40.500000  43.000000  39.400002  42.900002  42.900002
3     11/12/2013  43.660000  43.779999  41.830002  41.900002  41.900002
4     11/13/2013  41.029999  42.869999  40.759998  42.599998  42.599998
...          ...        ...        ...        ...        ...        ...
2259  10/28/2022        NaN        NaN        NaN        NaN        NaN
2260  10/31/2022        NaN        NaN        NaN        NaN        NaN
2261   11/1/2022        NaN        NaN        NaN        NaN        NaN
2262   11/2/2022        NaN        NaN        NaN        NaN        NaN
2263   11/3/2022        NaN        NaN        NaN        NaN        NaN

           Volume
0     117701670.0
1      27925307.0
2      16113941.0
3       6316755.0
4       8688325.0
...           ...
2259          NaN
2260          NaN
2261          NaN
2262          NaN
2263          NaN

[2264 rows x 7 columns]>

In [17]:
df.head

<bound method NDFrame.head of             Date       Open       High        Low      Close  Adj Close  \
0      11/7/2013  45.099998  50.090000  44.000000  44.900002  44.900002
1      11/8/2013  45.930000  46.939999  40.685001  41.650002  41.650002
2     11/11/2013  40.500000  43.000000  39.400002  42.900002  42.900002
3     11/12/2013  43.660000  43.779999  41.830002  41.900002  41.900002
4     11/13/2013  41.029999  42.869999  40.759998  42.599998  42.599998
...          ...        ...        ...        ...        ...        ...
2259  10/28/2022        NaN        NaN        NaN        NaN        NaN
2260  10/31/2022        NaN        NaN        NaN        NaN        NaN
2261   11/1/2022        NaN        NaN        NaN        NaN        NaN
2262   11/2/2022        NaN        NaN        NaN        NaN        NaN
2263   11/3/2022        NaN        NaN        NaN        NaN        NaN

           Volume
0     117701670.0
1      27925307.0
2      16113941.0
3       6316755.0
4       8688325.0
...           ...
2259          NaN
2260          NaN
2261          NaN
2262          NaN
2263          NaN

[2264 rows x 7 columns]>

In [20]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,11/7/2013,45.099998,50.090000,44.000000,44.900002,44.900002,117701670.0
1,11/8/2013,45.930000,46.939999,40.685001,41.650002,41.650002,27925307.0
2,11/11/2013,40.500000,43.000000,39.400002,42.900002,42.900002,16113941.0
3,11/12/2013,43.660000,43.779999,41.830002,41.900002,41.900002,6316755.0
4,11/13/2013,41.029999,42.869999,40.759998,42.599998,42.599998,8688325.0
...,...,...,...,...,...,...,...
2259,10/28/2022,NaN,NaN,NaN,NaN,NaN,NaN
2260,10/31/2022,NaN,NaN,NaN,NaN,NaN,NaN
2261,11/1/2022,NaN,NaN,NaN,NaN,NaN,NaN
2262,11/2/2022,NaN,NaN,NaN,NaN,NaN,NaN
2263,11/3/2022,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df["Low"].idxmax()

1838

In [19]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [18]:
df.shape

(2264, 7)